<!-- Footer -->

<div class="footer mt-auto">
    <footer class="p-5 pb-0 mx-5 mt-5">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3 mx-auto">
                <h5>About</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni a quia dicta adipisci commodi nihil
                    quis necessitatibus animi maiores, perspiciatis minima voluptatibus iusto reprehenderit voluptates,
                    dolorum ea. Nulla, itaque eligendi!</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12  mb-3 mx-auto">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top">
            <p id="copyright-text">© 2025 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg></a></li>
            </ul>
        </div>
    </footer>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>
