<%- include('partials/header.ejs') %>

<!--About Us -->

 <div class="container about-us-section">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-5">
        <img src="https://fastly.picsum.photos/id/14/2500/1667.jpg?hmac=ssQyTcZRRumHXVbQAVlXTx-MGBxm6NHWD3SryQ48G-o"
          alt="beach" class="img-fluid d-block mx-auto">
      </div>
      <div class="col-lg-4 col-md-12 m-auto">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, incidunt est saepe, asperiores iste
          pariatur illum quod et eveniet, eius quo earum nobis explicabo aspernatur dolore inventore laudantium dolor
          rem?</p>
          <button class="btn btn-danger mx-auto d-block m-5">Contact Us</button>
      </div>
    </div>
  </div>


  <%- include('partials/footer.ejs') %>
