<%- include('partials/header.ejs') %>



    <!-- Post Heading -->
    <div class="container-md bg-light p-4 rounded">
        <div class="row m-auto">
            <div class="col-md-6">
                <p><span class="fw-bold">Date:</span> 2 June 2025</p>
                <p><span class="fw-bold">Category:</span> Dog Food</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="#" class="text-primary d-block text-decoration-none my-2">Edit</a>
                <a href="#" class="text-primary d-block text-decoration-none my-2">Delete</a>
            </div>
        </div>
    </div>

    <!-- Post -->
    <div class="container-md my-3 bg-light p-5 rounded">
        <div class="row text-center">
            <h1>
                <%= title %>
            </h1>
        </div>
        <div class="row m-5">

            <%= body %>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>
